html, body {
	font-size: 80%;
}

@media (min-width: 460px) {
	html, body{
		font-size: 90%;
	}
}

@media (min-width: 1020px) {
	html, body{
		font-size: 110%;
	}
	#cluster-container .cluster-wrapper {
		width: 25%;
	}
	.cluster-wrapper::after {
		content: "";
		display: block;
		height: 1rem;
		border-bottom: .15rem solid #a4a4a4;
	}
	.cluster-wrapper:nth-child(4n+1)::after {
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.cluster-wrapper:nth-child(4n+2)::after,
	.cluster-wrapper:nth-child(4n+3)::after {
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	.cluster-wrapper:nth-child(4n+4)::after {
		width: 100%;
		position: absolute;
		margin-left: 0;
		bottom: 0;
	}
}

@media (min-width: 1270px) {
	html, body{
		font-size: 130%;
	}
}

@media (min-width: 1600px) {
	#cluster-container .cluster-wrapper {
		width: 16.6666666667%;
	}
	.cluster-wrapper::after {
		content: "";
		display: block;
		height: 1rem;
		border-bottom: .15rem solid #a4a4a4;
	}
	.cluster-wrapper:nth-child(6n+1)::after {
		width: 85%;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.cluster-wrapper:nth-child(6n+2)::after,
	.cluster-wrapper:nth-child(6n+3)::after,
	.cluster-wrapper:nth-child(6n+4)::after,
	.cluster-wrapper:nth-child(6n+5)::after {
		width: 100%;
		position: absolute;
		bottom: 0;
	}
	.cluster-wrapper:nth-child(6n+6)::after {
		width: 85%;
		position: absolute;
		margin-left: 0;
		bottom: 0;
	}
}

@media screen and (min-width: 769px) {
	html {
		font-size: 80%;
	}
	.ui header, .ui .modal-panel{
		width: 28rem;
		/*max-width: 28rem;
		min-width: 20rem;*/
	}
	.ui .tools-icon {
		z-index: 2000;
	}
	.ui #filter-panel {
/*		transform: translateY(100%);
*/	}
	.ui header {
		flex: 1;
	}
	.ui .nav {
		height: 100%;
	}
	.ui .sub-nav {
		display: none;
	}
	.ui footer {
		left:28rem;
		padding: 1rem;
		padding-bottom: 0rem;
		width: auto;
	}
	.ui footer .tools{
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
	}
	.ui footer .tools > div{
		margin-top: 1rem;
	}
	.ui .overlay-modal .overlay-content{
		width: 60%;
	}
	.ui .search-panel {
		width: 80%;
		left: 10%;
		right: 10%;
	}
	.ui select {
		background-image: none;
		font-size: 1rem;
	}
	.ui .subpanel-wrapper{
		width: 28rem;
		/*max-width: 28rem;
		min-width: 20rem;*/
	}

	.cluster .ui .settings-item div {
		margin: 0 .4rem;
	}
	#map-show-connections {
		cursor: pointer;
	}
	.network-popup {
	    min-width: 15rem;
	    max-width: 30rem;
	}
	.cluster #cluster-container, #network-wrapper {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
}

@media screen and (max-width: 769px) {
	#embed-overlay {
		padding: 1rem 0;
	}
	#embed-overlay button {
		font-size: 1.2rem;
		padding: .5rem 1rem;
	}
	#embed-overlay .embed-legend span{
		margin-right: 10%;
	}
	#embed-overlay .embed-cta span {
		font-size: 1.2rem;
		line-height: 1.5rem;
		text-align: right;
		width: 100%;
	}
	#embed-overlay > div{
		padding: 1rem;
	}
}

@media screen and (max-width: 480px) {
	.ui #filter-panel {
		transform: translateY(-100%);
	}
	#embed-overlay > div{
		padding: .5rem;
	}
	#embed-overlay .embed-legend {
		flex-direction: column;
		align-items: flex-start;
		width: 35%;
		padding-right:1rem;
		border-right: .1rem solid #333;
	}
	#embed-overlay .embed-legend span{
		font-size: 1.2rem;
		margin-right: 0;
		margin-bottom: .5rem;
	}
	#embed-overlay .embed-legend-container h3 {
		font-size: .8rem;
	}
	#embed-overlay .embed-legend-container h3:before {
		width: 1rem;
		height: 1rem;
		margin-right: .5rem;
	}
	#embed-overlay .embed-legend-network h3:first-child{
		margin-bottom: .2rem;
	}
	#embed-overlay .embed-cta span {
		padding-left: .5rem;
		font-weight: 500;
		text-align: left;
	}
	#embed-overlay button {
		text-align: left;
		padding: .2rem 0;
		margin-left: 0;
		border-left: none;
		border-right: none;
		border-top: none;
		border-radius: 0;
		text-transform: lowercase;
	}
}