html, body {
	font-size: 80%;
}

@media (min-width: 460px) {
	html, body{
		font-size: 90%;
	}
}

@media (min-width: 767px) {
	html, body{
		font-size: 100%;
	}
}

@media (min-width: 1020px) {
	html, body{
		font-size: 110%;
	}
}

@media (min-width: 1270px) {
	html, body{
		font-size: 130%;
	}
}

@media screen and (min-width: 480px) {
	html {
		font-size: 90%;
	}
	.ui header, .ui .modal-panel{
		width: 33%;
		max-width: 28rem;
	}
	.ui .tools-icon {
		z-index: 2000;
	}
	.ui #filter-panel {
		transform: translateY(100%);
	}
	.ui header {
		flex: 1;
	}
	.ui .nav {
		height: 100%;
	}
	.ui .sub-nav {
		display: none;
	}
	.ui footer {
		position: absolute;
		right: 0;
		height: 100%;
		width: 10%;
	}
	.ui footer .tools{
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-start;
	}
	.ui .overlay-modal .overlay-content{
		width: 60%;
	}
	.ui .search-panel {
		width: 80%;
		left: 10%;
		right: 10%;
		background: rgba(255,255,255,.95)
	}
	.ui select {
		background-image: none;
		font-size: 1rem;
	}
	.cluster .ui .settings-item div {
		margin: 0 .4rem;
	}
	#map-show-connections {
		cursor: pointer;
	}
	.network-popup {
	    min-width: 15rem;
	    max-width: 30rem;
	}
	.cluster #cluster-container, #network-container {
	  position: absolute;
	  right: 0;
	}
	.cluster #main-view {
		padding-top: 0;
	}
}

@media screen and (max-width: 480px) {
	.ui #filter-panel {
		transform: translateY(-100%);
	}
}