.cluster #main-view {
	padding-top: 6rem;
}
.cluster #cluster-container{
	max-height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
  -webkit-overflow-scrolling: touch;
}
text {
	text-anchor: middle;
}
text.smallLabel{
	font-size: .65rem;
	text-anchor: middle;
}
.cluster-label {
	font-size: 1.25rem;
	text-align: center;
}
.cluster-label span{
	max-width: 50%;
}
.cluster-label:first-letter {
	text-transform: uppercase;
}
.cluster .circle.prj {
	fill: #f28244;
}
.cluster-wrapper {
	display: flex;
	flex-direction: column;
	width: 50%;
}
.cluster-wrapper svg {
	width: 100%;
}
