.cluster #cluster-container{
	max-height: 100%;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 14rem;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 8rem;
  padding: 1.5rem;
}
text {
	text-anchor: middle;
}
text.smallLabel{
	font-size: .65rem;
	text-anchor: middle;
}
.cluster-label {
	font-size: 1.2rem;
	line-height: 1.6rem;
	text-align: center;
	padding-left: 1rem;
	padding-right: 1rem;
}
.cluster-label span{
	max-width: 50%;
}
.cluster-label:first-letter {
	text-transform: uppercase;
}
.cluster .circle.prj {
	fill: #f28244;
}
.cluster-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-bottom: 1rem;
	cursor: pointer;
}
.cluster-wrapper::after {
	content: "";
	display: block;
	height: 1rem;
	width: 100%;
	border-bottom: .15rem solid #a4a4a4;
}
.cluster-wrapper:nth-child(odd)::after {
	position: absolute;
	right: 0;
	bottom: 0;
}
.cluster-wrapper:nth-child(even)::after {
	position: absolute;
	margin-left: 0;
	bottom: 0;
}
.cluster-wrapper svg {
	width: 100%;
}
.cluster-wrapper.active .cluster-label{
	font-weight: bold;
}
.cluster-wrapper.active::after {
	border-bottom: .2rem solid #1DC9A0;
}
.cluster-value {
	position: absolute;
	top: 50%;
	left: 50%;
	fill: #333;
	font-size: 2rem;
	font-weight: bold;
	transform: translate(-50%, -100%) scale(0);
	transform-origin: 50% 50%;
	transition: transform .3s;
	text-align: center;
}
.cluster-value span{
	display: block;
	font-size: 1rem;
	margin-top: .25rem;
	text-transform: uppercase;
}
.cluster-wrapper.active .cluster-value {
	transform: translate(-50%, -100%) scale(1);
}
