.link {
	stroke: lightgrey;
	stroke-width: 1;
}
.network-prj {
	fill: #f28244;
}
.network-org {
	fill: #b164a5;
}
.network-popup {
    position: absolute;
    padding: 1rem;
    background-color: #f6f6f6;
    cursor: pointer;

}
.network-popup h3 {
	color: #b164a5;
	text-transform: capitalize;
	text-align: center;
}
.network-popup h3.network-prj {
	color: #f28244;
}
.network-popup .network-cta {
	font-weight: bold;
	text-align: center;
	font-size: 1rem;
	text-transform: uppercase;
	width: 80%;
	margin: .5rem auto 0;
	padding-top: .5rem;
	border-top: .1rem solid lightgrey;
}
#network-wrapper {
	opacity: 0;
	pointer-events: none;
}