#onboarding-view{
	display: none;
	z-index: 9999;
}

#onboarding-view p{
	font-size: 1.8rem;
	line-height: 3rem;
	font-weight: bold;
}

#onboarding-view .num{
	font-size: 4.8rem;
	line-height: 4rem;
}

#onboarding-view section{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items:center;
	justify-content:center;
}

#onboarding-view .next{

	margin-bottom: 1rem;

}
#onboarding-view .next a{
	display: block;
	padding: .75rem 2rem;
	font-size: 1.3rem;
	border-radius: 25px;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	border:1px solid #1dc9a0;
}

.mouse #onboarding-view .next a:hover{
	background-color: #1dc9a0;
	color: black;
}

#onboarding-view section.step{
	padding: 2rem;
}

#onboarding-view .big{
	font-size: 2.0rem;
	line-height: 2.8rem;
}

#onboarding-view .canvas canvas{
/*	border: 1px solid red;
*/}



#onboarding-view svg{
/*	border: 1px solid green;
*/	width: 100%;
	height: 100%;
	opacity: .8;
}

#onboarding-view .svg circle{
	transition: fill .5s;
}

#onboarding-view .packing svg text{
	font-size: 20px;
}

#onboarding-view .divider{
	flex-direction:column;
}
#onboarding-view .divider .upper{
	width: 100%;
	flex:1;
	position: relative;
}
#onboarding-view .divider .lower{
	width: 100%;
	background-color: #222;
}


#onboarding-view .board_footer{
	padding: 2rem;
	position: inherit;
	flex-direction: column;
}

#onboarding-view .gotit a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	border-bottom: 1px solid #1dc9a0;
	padding-bottom: .4rem;
	display: block;
	cursor: pointer;
}

#onboarding-view .dots{
	display: flex;
	align-items: center;
}
#onboarding-view .dots > div{
	width: 8px;
	height: 8px;
	margin: 1rem;
	border-radius: 50%;
	transition: all .5s ease-in-out;
	background-color: #999;
}
#onboarding-view .dots > div.active{
	transform: scale(1.5);
	background-color: #1dc9a0;
}



@media(min-width: 750px){
	#onboarding-view section.one > div{
		width: 50%;
	}
	#onboarding-view section.five > div{
		width: 50%;
	}
	#onboarding-view p{
		font-size: 2.8rem;
		line-height: 5rem;
	}
	#onboarding-view .big{
		font-size: 3.8rem;
		line-height: 5rem;
	}
	#onboarding-view .svg svg text{
		font-size: 18px;
	}
}