.ui {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 500;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	pointer-events: none;
}

@media screen and (min-width: 480px) {
	.ui {
		width: 33%;
		/*align-self: flex-end;*/
	}
	.ui .tools-icon {
		z-index: 2000;
	}
	.ui #filter-panel {
		transform: translateY(100%);
	}
}
#debug-button {
	display: none;
}

.map #debug-button {
	display: block;
}

#debug-button svg {
	fill:red;
}

.ui header {
	width: 100%;
	z-index: 2;
	overflow: visible;
	flex: 2;
}

.ui header .header-wrapper {
	height: 100%;
}

.ui .content {
	flex: 10;
	position: relative;
}

.ui header > * {
	pointer-events: all;
}

.ui select {
	border: .1rem solid #1DC9A0;
	color: #ffffff;
	background: none;
	font-size: 1.2rem;
	font-family: "Montserrat";
	border-radius: 0;
	background-image: url('../img/ui/icon-select-arrow.svg');
	background-size: 1.2rem;
	background-repeat: no-repeat;
	background-position: 95% 50%;
	text-transform: uppercase;
}

.ui select:focus {
	outline: none;
}

.ui .content {
	pointer-events: none;
}

.ui .content > * {
	pointer-events: all;
}

.ui .nav {
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
	background: #333333;
}

.ui .nav .nav-icon {
	height: 3.5rem;
	width: 100%;
	display: flex;
}

.ui .nav .nav-icon .current-bg{
	display: none;
}

.ui .nav #nav-current .current-bg {
	display: block;
	fill: #1DC9A0;
}

.ui .nav .nav-item {
	width: 4rem;
	height: 100%;
	display: flex;
	align-items: center;
	cursor: pointer;
}

.ui .nav .nav-next,
.ui .nav .nav-prev {
	width: .8rem;
	margin: 0 .4rem;
}

.ui .nav .nav-prev {
	transform: scale(-1)
}

.map .ui #nav-prev .nav-icon {
	display: none;
}
.cluster .ui #nav-next .nav-icon {
	display: none;
}

.ui .nav .nav-icon svg{
	fill: #fff;
	height: 100%;
	width: 100%;
}

.ui .sub-nav {
	background: #4D4D4D;
	z-index: 1;
	height: 40%;
}

.ui .sub-nav-label {
	width: 100%;
	text-align: center;
	padding: 1rem;
	text-transform: uppercase;
	font-size: 1.2rem;
}

.ui #filter-panel {
	background: #333333;
	width: 100%;
	height: 100%;
	padding: 0;
	/*transform: translateY(-100%);*/
}

.ui #filter-panel h2 {
	text-align: center;
}

@media screen and (max-width: 480px) {
	.ui #filter-panel {
		transform: translateY(-100%);
	}
}

.ui .view-settings, .ui .view-filters {
	padding: 1rem;
}

.ui .view-filters h2{
	margin-bottom: 1rem;
}

.ui .view-filters .filter-sections {
	margin-top: 1.5rem;
}

.ui .view-filters button{
	color: #fff;
}

.ui .view-settings {
	padding: 1rem 1rem;
}

.ui .view-settings .settings-panel {
	display: none;
}

.ui .settings-item {
	display: flex;
	align-items: center;
	justify-content: center;
}

.ui .settings-item .checkbox {
	height: 1.5rem;
	width: 1.5rem;
	border: .1rem solid;
	margin-right: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ui .settings-item .checkbox .icon-check{
	height: 100%;
	width: 100%;
	display: none;
}

.ui .settings-item.active .checkbox .icon-check{
	display: inline;
	fill:  #4DC4B0;
}

.cluster .ui .settings-item div{
	margin: 0 1rem;
}

.cluster .ui .settings-item .settings-title{
	margin-bottom: .5rem;
}

.ui .settings-item .settings-title{
	font-size: 1.2rem;
	font-weight: bold;
}

.ui .filters {
	display: flex;
}

.ui .filters h3{
	display: flex;
	justify-content: space-between;
}

.ui .view-settings {
	background: #666666;
}

.ui .filters .filters-count {
	text-transform: none;
	font-weight: normal;
	font-size: 1rem;
}

.ui .filters .tags-container {
	flex: 1;
	border-bottom: .1rem solid #ffffff;
	padding-bottom: .5rem;
}

.ui .filters .tags-list.showmore::after {
	content: '...';
	display: block;
	line-height: 1rem;
	padding-left: .3rem;
	margin-bottom: .5rem;
}

.ui .filters .tags-container ul{
	list-style: none;
	padding-left: 0;
	margin-top: 0;
}

.ui .filters .tags-container li{
	margin: .5rem 0;
	padding: 0;
	display: flex;
	align-items: center;
	font-size: 1.15rem;
	line-height: 1.15rem;
}

.ui .filters .tags-container li .icon-remove{
	width: 1.2rem;
	height: 1.2rem;
	margin-right: .5rem;
	fill: #ffffff;
}

.ui .filters .add-tags {
	margin-left: 1rem;
}

.ui .filters .add-tags svg{
	width: 2rem;
	height: 2rem;
	fill: #ffffff;
	border: .1rem solid #1DC9A0;
}

.ui footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.ui .tools {
	width: 100%;
	height: 100%;
	padding-bottom: 1.25rem;
	display: flex;
	justify-content: space-around;
}

.ui .tools .tools-icon{
	height: 4rem;
	width: 4rem;
}

.ui .tools .tools-icon .icon-circle{
	fill: #333333;
}

.ui .overlay-modal {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background: rgba(0,0,0,0.6);
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: all;
}

.ui .overlay-modal .overlay-content{
	width: 90%;
	padding: 1rem 1rem;
	background: #ffffff;
	border-radius: .8%;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	color: #333333;
	max-height: 60vh;
	overflow: hidden;
}

.ui .overlay-modal button{
	color: #333333;
	border: .15rem solid #1DC9A0;
	margin: auto;
}

.ui .modal-header {
	display: flex;
	justify-content: space-between;
}

.ui .modal-header .close-modal{
	height: 2rem;
	width: 2rem;
	fill: #333333;
}

.ui #filter-selection .select-content {
	max-height: 50vh;
	overflow-y: auto;
}

.ui #filter-selection .select-content li {
	font-size: 1.5rem;
	margin: 2rem 0;
	display: flex;
	align-items: center;
}

.ui #filter-selection .select-content li span{
	flex: 9;
	display: inline-block;
}

.ui #filter-selection .select-content li > div{
	flex: 1;
}

.ui #filter-selection .select-content li .icon-check {
	height: 1.5rem;
	width: 1.5rem;
	fill: #4DC4B0;
	vertical-align: middle;
	display: none;
}

.ui #filter-selection .select-content li.active{
	font-weight: 500;
}

.ui #filter-selection .select-content li.active .icon-check{
	display: inline;
}

.ui .filters {
	margin-bottom: 2rem;
}

.ui .modal-panel {
	background: rgba(51,51,51,0.85);
	background: rgba(0,0,0,0.85);
	width: 100%;
	padding: 1rem 1.2rem;
	position: absolute;
	top: 0;
	z-index: 1;
}

.ui .modal-panel.info-panel {
	height: 100%;
	transform: translateY(100%);
}

.ui .modal-panel.info-panel p {
	font-size: 1rem;
	line-height: 1.6rem;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.ui .modal-panel.info-panel h2 {
	font-size: 1.6rem;
	line-height: 1.6rem;
	margin-top: 1rem;
}

.ui .modal-panel .modal-container {
	display: flex;	
	flex-direction: column;
	align-items: flex-start;
}

.ui .modal-panel .modal-container.info-container, .ui .modal-panel .modal-container.map-panel-container {
	align-items: flex-start;
}

.ui .modal-panel .modal-container.map-list-container {
	align-items: center;
}

.ui .modal-panel.info-panel .info-icon {
	width: 4rem;
	height: 4rem;
	margin-bottom: 2rem;
	align-self: center;
}

.ui .modal-panel .modal-nav-icons {
	width: 100%;
	display: flex;	
}

.ui .modal-panel .network-list-container .modal-nav-icons, .ui .modal-panel .map-list-container .modal-nav-icons {	
	justify-content: flex-end;
}

.ui .modal-panel .network-panel-container .modal-nav-icons, .ui .modal-panel .map-panel-container .modal-nav-icons {
	justify-content: space-between;
}

.ui .modal-panel .remove-icon, .ui .detail-panel .remove-icon {
	width: 2rem;
	height: 2rem;
	margin-bottom: 1rem;
	fill: #333333;
}
.ui .modal-panel .back-icon, .ui .detail-panel .back-icon {
	width: 2rem;
	height: 2rem;
	margin-bottom: 1rem;
	align-self: flex-start;
}
.ui .modal-panel .link-icon {
	width: 1.6rem;
	height: 1.6rem;
	margin-left: 1rem;
}
.ui .modal-panel .inverted-color {
	fill: #ffffff;
}
.ui .modal-panel .secondary-color {
	fill: #4dc4b0;
}
.ui .modal-panel.info-panel ul {
	list-style-type: none;
	margin: 0;
  padding: 0;
	font-size: 1rem;
	line-height: 2rem;
	margin-top: 1rem;
}

.ui .modal-panel.info-panel .legend-dot {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	margin-right: 1rem;
}

.ui .legend-dot.focus-color-1{
	background-color: #ffad69;
}
.ui .legend-dot.focus-color-2{
	background-color: #f1d569;
}
.ui .legend-dot.focus-color-3{
	background-color: #ff6769;
}
.ui .legend-dot.focus-color-4{
	background-color: #f169c4;
}
.ui .legend-dot.org-color{
	background-color: #72abd6;
}
.ui .legend-dot.prj-color{
	background-color: #ffad69;
}

.ui .search-panel {
	background: #ffffff;
	color: #333333;
	width: 100%;
	height: 100%;
	padding: 2rem;
	position: absolute;
	top: 0;
	z-index: 1;
	transform: translateY(100%);
}

.ui .search-container {
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}

.ui .search-title {
	margin-top: 1rem;
}

.ui .modal-header {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.ui .search-container .search-bar {
	height: 3rem;
	padding: .5rem;
	border: .1rem solid;
	background: none;
	color: #333;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.ui .search-container .search-bar #search-input {
	background: none;
	border: none;
	flex: 1;
	color: #333333;
}

.ui .search-container .search-bar .search-icon {
	width: 2.5rem;
	height: 2.5rem;
	fill: #333333;
}

.ui #search-results {
	width: 98%;
	max-height: 80%;
  overflow: auto;
}

.ui #search-results li {
	list-style: none;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: .1rem solid rgba(51, 51, 51, .2);
}

.ui #search-results li .search-result-name{
	font-weight: normal;
	font-size: 1.5rem;
}
.ui #search-results li .search-result-name .highlight{
	font-weight: bold;
}

.ui #search-results .search-linked-prjs {
	margin-right: 1rem;
}

.ui #search-results .search-result-type {
	margin-right: .5rem;
	font-weight: bold;
	color: #72abd6;
}

.ui #search-results .search-result-type.prj{
	color: #ffad69;
}

.ui .modal-panel.map-list {
	min-height: 100%;
	transform: translateY(100%);
}

.ui .modal-panel.map-list .org-list {
	width: 100%;
}

.ui .modal-panel .map-list-container h3 {
	font-size: 1.6rem;
	color: #4dc4b0;
	text-align: center;
}

.ui .modal-panel .map-list-container h3::after {
	content: "";
	display: block;
	height: .75rem;
	border-bottom: .2rem solid #4dc4b0;
}

.ui .modal-panel .map-list-container ul {
	max-height: 65vh;
  overflow: auto;
}

.ui .modal-panel .map-list-container ul li {
	font-size: 2rem;
	line-height: 3.6rem;
	text-align: center;
}

.ui .modal-panel.map-panel {
	min-height: 100%;
	transform: translateX(-100%);
}

.ui .modal-panel .map-panel-container .org-title {
	display: flex;	
}

.ui .modal-panel .map-panel-container h2 {
	
}

.ui .modal-panel .map-panel-container .org-type {
	display: inline-block;
	font-size: 1.2rem;
}

.ui .modal-panel .map-panel-container p {
	margin-top: 2rem;
}

.ui .modal-panel .map-panel-container .map-panel-scrolling {
	max-height: 65vh;
  overflow: auto;
  padding-right: 10px;
}

.ui .modal-panel .map-panel-container .map-panel-scrolling svg {
	/*border: 1px solid red;*/
}

.ui .modal-panel .map-panel-container .radar-chart {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.ui .modal-panel .map-panel-container .radar-path {
	/*fill: #4dc4b0;*/
	stroke: #4dc4b0;
	stroke-width: 3;
	fill: none;
}

.ui .modal-panel .map-panel-container .radar-dots {
	fill: #4dc4b0;
	stroke: none;
}

.ui .modal-panel .map-panel-container .axis-circle, .ui .modal-panel .map-panel-container .axis-line {
	fill: none;
	stroke: #ffffff;
	stroke-width: .1rem;
	stroke-opacity: .5;
}

.ui .modal-panel .map-panel-container .map-panel-scrolling h3 {
	margin-bottom: 1rem;
	display: block;
	margin-top: 3rem;
	align-self: flex-start;
}

.ui .modal-panel .map-panel-container .bar-chart-caption {
	fill: white;
	stroke: none;
	font-size: .95rem;
	align-self: flex-start;
	text-anchor: start;
}

.ui .modal-panel .map-panel-container .tooltip {
	fill: white;
	stroke: none;
	font-size: 1.2rem;
}

.ui .modal-panel.cluster-panel {
	min-height: 100%;
	transform: translateY(100%);
}

.ui .modal-panel .cluster-panel-container .cluster-title {
	display: flex;	
}

.ui .modal-panel h2 {
	line-height: 2rem;
	color: white;
}

.ui .modal-panel .cluster-panel-container .cluster-subtitle {
	color: white;
	font-size: 1.2rem;
}

.ui .cluster-panel .cluster-panel-container .cluster-subtitle::after {
	content: "";
	display: block;
	height: .75rem;
	border-bottom: .2rem solid white;
}

.ui .cluster-panel .cluster-panel-container .cluster-panel-scrolling {
	max-height: 65vh;
  overflow: auto;
  padding-right: 10px;
}

.ui .cluster-panel .cluster-panel-scrolling ul {
	width: 100%;
}

.ui .cluster-panel .cluster-panel-scrolling .cluster-item {
	display: flex;
}

.ui .cluster-panel .cluster-panel-scrolling .cluster-item .cluster-circle-container {
	display: flex;
	justify-content: center;
	width: 25%;
}

.ui .cluster-panel .cluster-panel-scrolling .cluster-item .cluster-circle-container > div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.ui .cluster-panel .cluster-panel-container .cluster-panel-scrolling .cluster-text-container {
	display: flex;
	align-items: center;
	color: white;
	font-size: 1.2rem;
	width: 75%;
	padding-left: 1rem;
}

.ui .cluster-panel .cluster-panel-container .cluster-panel-scrolling .cluster-text-container a {
	color: white;
	text-decoration: none;
}

.ui .cluster-panel .cluster-panel-container .cluster-panel-scrolling .cluster-text-container a:hover {
	text-decoration: underline;
}

.ui .cluster-panel .cluster-panel-scrolling .cluster-item .cluster-panel-circle {
	display: inline-block;
	margin-top: 1rem;
	border-radius: 100%;
}

.ui .cluster-panel .cluster-panel-scrolling .sub-list.invisible {
	display: none;
}

.ui .modal-panel.network-list {
	min-height: 100%;
	transform: translateY(100%);
}

.ui .modal-panel.network-panel {
	min-height: 100%;
	transform: translateX(-100%);
}

.ui .network-list .network-list-container .network-list-subtitle {
	color: white;
	font-size: 1.2rem;
}

.ui .network-list .network-list-container .network-list-subtitle::after {
	content: "";
	display: block;
	height: .75rem;
	border-bottom: .2rem solid white;
}

.ui .network-list .network-list-container .network-list-scrolling {
	max-height: 65vh;
  overflow: auto;
  padding-right: 10px;
}

.ui .network-list .network-list-scrolling ul {
	width: 100%;
}

.ui .network-list .network-list-scrolling .network-list-item {
	display: flex;
	margin-bottom: 2rem;
}

.ui .network-list .network-list-scrolling .network-list-item .networklist-circle-container {
	display: flex;
	justify-content: center;
	width: 15%;
}

.ui .network-list .network-list-scrolling .network-list-item .networklist-circle-container > div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1rem;
	border-radius: 100%;
	background: #72abd6;
	width: 50%;
}

.ui .network-list .network-list-container .network-list-scrolling .networklist-text-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	color: white;
	font-size: 1.2rem;
	width: 85%;
	padding-left: 1rem;
}

.ui .network-list .network-list-container .network-list-scrolling .networklist-text-container p:first-child {
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 2rem;
}

.ui .network-list .network-list-container .network-list-scrolling .networklist-text-container p {
	line-height: 1.4rem;
}

.ui .network-list .network-list-container .network-list-scrolling .networklist-text-container p:hover {
	color: #72abd6;
}

.ui .network-panel .network-panel-container .network-panel-scrolling {
	max-height: 65vh;
  overflow: auto;
  padding-right: 10px;
}

.ui .network-panel .network-panel-scrolling ul {
	width: 100%;
}

.ui .network-panel .network-panel-container .network-panel-subtitle {
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
}

.ui .network-panel .network-panel-container .network-panel-subtitle::after {
	content: "";
	display: block;
	height: .75rem;
	border-bottom: .2rem solid white;
}

.ui .network-panel .network-panel-scrolling .network-panel-item {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: white;
	margin-bottom: 2rem;
}

.ui .network-panel .network-panel-scrolling .network-panel-item .network-panel-item-title a {
	color: white;
	font-size: 1.2rem;
	font-weight: 500;
	text-decoration: none;
}

.ui .network-panel .network-panel-scrolling .network-panel-item .network-panel-item-title a:hover {
	color: #ffad69;;
}

.ui .network-panel .network-panel-scrolling .network-panel-item .network-panel-item-bar {
	margin-top: .5rem;
	background: #ffad69;
	height: .75rem;
	border-radius: 1rem;
}

.ui .network-panel .network-panel-scrolling .network-panel-item .sub-list.invisible {
	display: none;
}

.ui .network-panel .network-panel-scrolling .network-panel-item .network-panel-item-org {
	margin-top: .5rem;
	line-height: 1.6rem;
}

.ui .network-panel .network-panel-scrolling .network-panel-item .network-panel-item-org::after {
	content: "";
	display: block;
	height: .75rem;
	border-bottom: .1rem solid #aaa;
}
