.ui {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 500;
	color: #ffffff;
}

.ui .icon-proto {
	display: none;
}

.ui .nav {
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5rem;
	background: #333333;
	z-index: 2;
	position: relative;
}

.ui .nav .nav-icon {
	height: 2.5rem;
	width: 100%;
	display: flex;
}

.ui .nav .nav-item {
	width: 3rem;
	height: 100%;
	display: flex;
	align-items: flex-end;
	cursor: pointer;
}

.ui .nav .nav-next,
.ui .nav .nav-prev {
	width: .8rem;
	margin: 0 .4rem;
}

.ui .nav .nav-prev {
	transform: scale(-1)
}

.map .ui #nav-prev .nav-icon {
	display: none;
}
.cluster .ui #nav-next .nav-icon {
	display: none;
}

.ui .nav .nav-icon svg{
	fill: #fff;
	height: 100%;
	width: 100%;
}

.ui .sub-nav {
	background: #4D4D4D;
	position: relative;
	z-index: 1;
	transform: translateY(-100%);
}

.ui .sub-nav-label {
	background: #4D4D4D;
	width: 100%;
	text-align: center;
	padding: 1rem;
	transform: translateY(100%);
	text-transform: uppercase;
	font-size: 1.2rem;
}

.ui .sub-nav .filter-list {
	padding: 2rem;
}

.ui .filters {
	display: flex;
}

.ui .filters .tags-container {
	flex: 1;
	border-bottom: .1rem solid #ffffff;
	padding-bottom: .5rem;
}

.ui .filters .tags-container ul{
	list-style: none;
	padding-left: 0;
}

.ui .filters .tags-container li{
	margin: .5rem 0;
	padding: 0;
	display: flex;
	align-items: center;
	font-size: 1.15rem;
	line-height: 1.15rem;
}

.ui .filters .tags-container li .icon-remove{
	width: 1.2rem;
	height: 1.2rem;
	margin-right: .5rem;
	fill: #ffffff;
}

.ui .filters .add-tags {
	margin-left: .5rem;
}

.ui .filters .add-tags svg{
	width: 2rem;
	height: 2rem;
	fill: #ffffff;
	border: .1rem solid #ffffff;
}

.ui footer {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.ui .tools {
	width: 100%;
	height: 100%;
	padding-bottom: 3rem;
	display: flex;
	justify-content: space-around;
}

.ui .tools .tools-icon{
	height: 4rem;
	width: 4rem;
}

.ui .tools .tools-icon .icon-circle{
	fill: #333333;
}

.ui .overlay-modal {
	width: 85%;
	position: absolute;
	top: 8rem;
	left: 50%;
	margin: 0 auto;
	padding: 2rem 1rem;
	z-index: 10;
	background: #ffffff;
	border-radius: .8%;
	box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	transform: translateX(-50%);
	color: #333333;
	max-height: 60vh;
	overflow: hidden;
}

.ui .overlay-modal button{
	color: #333333;
	border: .15rem solid #333333;
	margin: auto;
}

.ui .overlay-modal .modal-header {
	display: flex;
	justify-content: space-between;
}

.ui .overlay-modal .modal-header .close-modal{
	height: 2rem;
	width: 2rem;
}

.ui .modal-content {
	max-height: 50vh;
	overflow-y: auto;
}

.ui .modal-content li {
	font-size: 1.5rem;
	margin: 2rem 0;
	display: flex;
	align-items: center;
}

.ui .modal-content li span{
	flex: 8;
	display: inline-block;
}

.ui .modal-content li div{
	flex: 1;
	margin-right: .5rem;
}

.ui .modal-content li .icon-check {
	height: 1.5rem;
	width: 1.5rem;
	fill: #4DC4B0;
	vertical-align: middle;
	display: none;
}

.ui .modal-content li.active{
	font-weight: 500;
}

.ui .modal-content li.active .icon-check{
	display: inline;
}

.ui .filters {
	margin-bottom: 2rem;
}

.ui .info-panel {
	background: rgba(51,51,51,0.85);
	width: 100%;
	height: 100%;
	padding: 2rem;
	position: absolute;
	top: 7rem;
	z-index: 1;
	transform: translateY(100%);
}

.ui .info-panel p {
	font-size: 1rem;
	line-height: 1.6rem;
	margin-top: 1rem;
	margin-bottom: 3rem;
}

.ui .info-panel h2 {
	font-size: 1.6rem;
	line-height: 1.6rem;
	margin-top: 1rem;
}

.ui .infoContainer {
	display: flex;	
	flex-direction: column;
	align-items: flex-start;
}

.ui .info-icon {
	width: 4rem;
	height: 4rem;
	margin-bottom: 4rem;
	align-self: center;
}

.ui .info-panel .remove-icon {
	width: 3rem;
	height: 3rem;
	margin-bottom: 2rem;
	align-self: flex-end;
}
.ui .inverted-color {
	fill: #ffffff;
}
.ui .info-panel ul {
	list-style-type: none;
	margin: 0;
  padding: 0;
	font-size: 1rem;
	line-height: 2rem;
	margin-top: 1rem;
}

.ui .legend-dot {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	margin-right: 1rem;
}

.ui .legend-dot.focus-color-1{
	background-color: #ffad69;
}
.ui .legend-dot.focus-color-2{
	background-color: #f1d569;
}
.ui .legend-dot.focus-color-3{
	background-color: #ff6769;
}
.ui .legend-dot.focus-color-4{
	background-color: #f169c4;
}
.ui .legend-dot.org-color{
	background-color: #72abd6;
}
.ui .legend-dot.prj-color{
	background-color: #ffad69;
}

.ui .search-panel {
	background: #333333;
	width: 100%;
	height: 50%;
	padding: 2rem;
	position: absolute;
	top: 7rem;
	z-index: 1;
	transform: translateY(200%);
}
.ui .search-container {
	display: flex;	
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.ui .search-icon-header {
	width: 4rem;
	height: 4rem;
	margin-top: -3.5rem;
}

.ui .search-container .search-bar {
	width: 80%;
	height: 3rem;
	padding: .5rem;
	border: .1rem solid #ffffff;
	background: none;
	color: #ffffff;
	display: flex;
	align-items: center;
	margin-bottom: 1rem;
}

.ui .search-container .search-bar #search-input {
	background: none;
	border: none;
	flex: 1;
	color: #ffffff;
}

.ui .search-container .search-bar .search-icon {
	width: 2.5rem;
	height: 2.5rem;
}

.ui .search-container .search-bar .search-icon .st0{
	fill: none;
}

.ui #search-results {
	width: 80%;
	max-height: 25vh;
    overflow: auto;
}

.ui #search-results li {
	list-style: none;
	margin-bottom: 1rem;
	padding-bottom: 1rem;
	border-bottom: .1rem solid rgba(255, 255, 255, .2);
}

.ui #search-results li .search-result-name{
	font-weight: normal;
	font-size: 1.5rem;
}
.ui #search-results li .search-result-name .highlight{
	font-weight: bold;
}

.ui #search-results .search-linked-prjs {
	margin-right: 1rem;
}

.ui #search-results .search-result-type {
	margin-right: .5rem;
	font-weight: bold;
	color: #72abd6;
}

.ui #search-results .search-result-type.prj{
	color: #ffad69;
}