body {
	font-family: "montserratregular", Arial, sans-serif;
	background-color: #eee;
}
svg {
	/*border: .1rem solid red;*/
}
text {
	text-anchor: middle;
}
text.smallLabel{
	font-size: .65rem;
	text-anchor: middle;
}
circle {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}
.leaf circle {
  fill: salmon;
  fill-opacity: 1;
  stroke: none;
}
#ui {
	display: block;
}
select, button {
	margin: .75rem 2rem;
}
select.left {
	margin-left: .1rem !important;
}
select.right {
	margin-right: .1rem !important;
}
.uiElement {
	margin-top: 1rem;
	margin-right: 3rem;
	display: inline-block;
}
.uiElement p {
	font-size: .8rem;
	margin-left: 2rem;
}