body {
	font-family: "montserratregular", Arial, sans-serif;
	background-color: #eee;
}
svg {
	/*border: .1rem solid red;*/
}
text {
	text-anchor: middle;
}
text.smallLabel{
	font-size: .65rem;
	text-anchor: middle;
}
circle {
  fill: none;
  stroke: none;
  stroke-width: 1px;
}
.leaf circle {
  fill: salmon;
  fill-opacity: 1;
  stroke: none;
}
#ui {
	display: block;
}
select, button {
	margin: 1rem;
}