<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<meta name="description" content="...">
<meta name="keywords" content="...">
<meta name="author" content="http://www.fga.it/">
<meta name="google" content="notranslate" />

<meta name="viewport" content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0' />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="mobile-web-app-capable" content="yes" /> 
<meta name="apple-mobile-web-app-title" content="Il Futuro È">
<meta name="format-detection" content="telephone=no">