<!-- process:template
  
<meta property="og:title" content="...">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= env.url %>">
<meta property="og:image" content="<%= env.url %>/assets/social.png">
<meta property="og:site_name" content="...">
<meta property="og:description" content="...">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@...">
<meta name="twitter:creator" content="@...">
<meta name="twitter:url" content="<%= env.url %>">
<meta name="twitter:title" content="...">
<meta name="twitter:description" content="...">
<meta name="twitter:image:src" content="<%= env.url %>/assets/social.png">

/process -->
