<!-- process:template
  
<meta property="og:title" content="Digital Social Innovation">
<meta property="og:type" content="website">
<meta property="og:url" content="<%= env.url %>">
<meta property="og:image" content="<%= env.url %>/img/ui/social.gif">
<meta property="og:site_name" content="DSI4eu">
<meta property="og:description" content="...">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@DSI4eu">
<meta name="twitter:creator" content="@DSI4eu">
<meta name="twitter:url" content="<%= env.url %>">
<meta name="twitter:title" content="Digital Social Innovation">
<meta name="twitter:description" content="...">
<meta name="twitter:image:src" content="<%= env.url %>/img/ui/social.gif">

/process -->
