<div class="overlay" id="embed-overlay">
    <div class="embed-legend">
        <span>LEGEND</span>
        <div class="embed-legend-container">
            <div class="embed-legend-map">
                <h3 class="orgs">Organisations</h3>
            </div>
            <div class="embed-legend-network">
                <h3 class="orgs">Organisations</h3>
                <h3 class="prjs">Projects</h3>
            </div>
        </div>
    </div>
    <div class="embed-cta">
        <span>Do you want to know more?</span>
        <div>
            <button>Go to the web app</button>
        </div>
    </div>
</div>
