<div class="filter-list" id="filters-container">
    <h2>Filter by</h2>
    <section class="filters" id="filter-support_tags">
        <div class="tags-container">
            <h3>Support tags</h3>
            <ul class="tags-list">
            </ul>
        </div>
        <div class="add-tags" process="img/ui/icon-add.svg" process-keep></div>
    </section>
    <section class="filters" id="filter-technology">
        <div class="tags-container">
            <h3>Technology</h3>
            <ul class="tags-list">
            </ul>
        </div>
        <div class="add-tags" process="img/ui/icon-add.svg" process-keep></div>
    </section>
</div>