<div id="filters-container">
    <section class="view-settings">
        <section id="settings-map" class='settings-panel'>
            <h2 class="settings-title">Map Settings</h2>
            <div class="settings-item">
                <div class="checkbox active">
                    <div process="img/ui/icon-check.svg" class="icon-check" process-keep></div>
                </div>
                <div class="settings-name">
                    <p class="settings-title">Show connections</p>
                    <p class="settings-description">Show links between connected organisations</p>
                </div>
            </div>
        </section>
        <section id="settings-network" class='settings-panel'>
            <h2 class="settings-title">Network Settings</h2>
            <div class="settings-item">
                <div class="checkbox active">
                    <div process="img/ui/icon-check.svg" class="icon-check" process-keep></div>
                </div>
                <div class="settings-name">
                    <p class="settings-title">Networks only</p>
                    <p class="settings-description">Show only organisations with shared projects</p>
                </div>
            </div>
        </section>
        <section id="settings-cluster" class='settings-panel'>
            <h2 class="settings-title">Cluster Settings</h2>
            <div class="settings-item">
                <div>
                    <p class="settings-title">Group by</p>
                    <select id="group-by">
                        <option value="focus">Focus</option>
                        <option value="support_tags">Support</option>
                        <option value="technology">Technology</option>
                        <option value="linked_organisation_ids">Organisation</option>
                        <option value="countries" selected="selected">Country</option>
                    </select>
                </div>
                <div>
                    <p class="settings-title">Subdivide by</p>
                    <select id="subdivide-by">
                        <option value="focus" selected="selected">Focus</option>
                        <option value="support_tags">Support</option>
                        <option value="technology">Technology</option>
                        <option value="linked_organisation_ids">Organisation</option>
                        <option value="countries">Country</option>
                    </select>
                </div>
            </div>
        </section>
    </section>
    <section class="view-filters">
        <h2>Filter by</h2>
        <section class="filters" id="filter-support_tags">
            <div class="tags-container">
                <h3>Support tags<span class="filters-count"></span></h3>
                <ul class="tags-list">
                </ul>
            </div>
            <div class="add-tags" process="img/ui/icon-add.svg" process-keep></div>
        </section>
        <section class="filters" id="filter-technology">
            <div class="tags-container">
                <h3>Technology<span class="filters-count"></span></h3>
                <ul class="tags-list">
                </ul>
            </div>
            <div class="add-tags" process="img/ui/icon-add.svg" process-keep></div>
        </section>
    </section>
</div>
