<div class="info-container">
	<section class="modal-nav-icons">
		<div process="img/ui/icon-remove.svg" class="remove-icon" process-keep></div>
	</section>
	<section class="textbox">
		<h2>Network view</h2>
		<p>The network view shows you how DSI organisations and projects across Europe are linked. Drag around and click on a network to view its member organisations and projects.</p>
	</section>




	<section class="legenda">
		<h2>Legend and stats</h2>
		<section class="network-stats-item network-stats-orgs">
			<h3>Organisations</h3>
			<div class="stats-caption">Networked organisations <span></span></div>
			<div class="stats-paragraph"></div>
			<div class="stats-bar">
				<div class="color"></div>
				<div class="background"></div>
			</div>
		</section>
		<section class="network-stats-item network-stats-prjs">
			<h3>Projects</h3>
			<div class="stats-caption">Collaborative projects <span></span></div>
			<div class="stats-paragraph"></div>
			<div class="stats-bar">
				<div class="color"></div>
				<div class="background"></div>
			</div>
		</section>
	</section>




</div>