<div class="modal-container info-container">
	<section class="modal-nav-icons">
		<div process="img/ui/icon-remove.svg" class="remove-icon inverted-color" process-keep></div>
	</section>
	<div process="img/ui/icon-info-inverted.svg" class="info-icon" process-keep></div>
	<section class="textbox">
		<h2>Map view</h2>
		<p>This view lets you see the different organisations in the system and their position on the map. Zoom in, pan around and tap the dots to see the individual organisation profiles.</p>
	</section>
	<section class="legenda">
		<h2>Legend</h2>
		<ul></ul>
	</section>
</div>