<div class="info-container">
	<section class="modal-nav-icons">
		<div process="img/ui/icon-remove.svg" class="remove-icon" process-keep></div>
	</section>
	<section class="textbox">
		<h2>Network view</h2>
		<p>The network view shows you how DSI organisations and projects across Europe are linked. Drag around and click on a network to view its member organisations and projects.</p>
	</section>
	<section class="legenda">
		<h2>Legend</h2>
		<ul></ul>
	</section>
	<section class="network-stats-button">
		<button>Network statistics</button>
	</section>
</div>