<div class="map-panel-container">
	<section class="modal-nav-icons">
		<div process="img/ui/arrow-back.svg" class="back-icon inverted-color" process-keep></div>
		<div process="img/ui/icon-remove.svg" class="remove-icon inverted-color" process-keep></div>
	</section>
	<section class="map-panel-title">
		<div class="org-title">
			<h2></h2>
			<a class="org-link"><div process="img/ui/icon-link.svg" class="link-icon secondary-color" process-keep></div></a>
		</div>
		<div class="org-type"></div>
		<div class="org-subtitle"></div>
	</section>
	<section class="scrolling">
		<p></p>
		<div class="org-panel-cta"></div>
		<!-- <div class="radar-chart">
			<h3></h3>
			<div class="radar"></div>
		</div> -->
		<!-- here orgpanel.js appends the barcharts -->
	</section>
</div>