<div class="network-stats-container">
	<section class="modal-nav-icons">
		<div process="img/ui/icon-remove.svg" class="remove-icon" process-keep></div>
	</section>
	<section class="network-stats-title">
		<h2>Network statistics</h2>
	</section>
	<section class="network-stats-item network-stats-orgs">
		<h3>Organisations</h3>
		<div class="stats-caption"></div>
		<div class="stats-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas ex in ante imperdiet, sed vehicula nibh pharetra.</div>
		<div class="stats-bar">
			<div class="color"></div>
			<div class="background"></div>
		</div>
	</section>
	<section class="network-stats-item network-stats-prjs">
		<h3>Projects</h3>
		<div class="stats-caption"></div>
		<div class="stats-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam egestas ex in ante imperdiet, sed vehicula nibh pharetra.</div>
		<div class="stats-bar">
			<div class="color"></div>
			<div class="background"></div>
		</div>
	</section>
</div>