<section class="view" id="onboarding-view">

	<div process="assets/graph.svg"></div>
	
	<section class="canvas">
		<canvas></canvas>
	</section>

	

	<section class="divider">

		<div class="upper">

			<section class="svg">
				<svg viewBox="0 0 500 500">
					<g><circle id="circ" style="fill:#f6f6f6;" cx="250" cy="250" r="220"></circle></g>
				</svg>
			</section>

			<section class="packing">
				<svg viewBox="0 0 500 500">
				</svg>
			</section>
			
			<section class="step one">
				<div>
					<p class="big">Across Europe, people are using digital technologies to tackle social challenges</p>
				</div>
			</section>

			<section class="step two">
				<div>
					<p>in fields like</p>
				</div>
			</section>

			<section class="step three">
				<div>
					<p>There are now</p>
					<p class="num">0</p>
					<p>projects</p>
				</div>
			</section>

			<section class="step four">
				<div>
					<p>and</p>
					<p class="num">0</p>
					<p>organisations</p>
				</div>
			</section>

			<section class="step five">
				<div>
					<p class="big">Explore the network of digital social innovation</p>
				</div>
			</section>
		</div>

		<div class="lower">
			<section class="board_footer">

				<div class="next">
					<a href="">Next</a>
				</div>

				<div class="dots">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>

				<div class="gotit">
					<a>Got it</a>
				</div>
			</section>
		</div>

	</section>
	
</section>