<section class="view" id="onboarding-view">

	<div process="assets/graph.svg"></div>
	
	<section class="canvas">
		<canvas></canvas>
	</section>
	
	<section class="one">
		<div>
			<p>There are</p>
			<p class="num">1226</p>
			<p>organization in Europe</p>
		</div>
	</section>

	<section class="two">
		<div>
			<p>Working on</p>
			<p class="num">805</p>
			<p>projects</p>
		</div>
	</section>

	<section class="three">
		<div>
			<p>Dealing with</p>
			<p>democracy, education, work, health and more...</p>
		</div>
	</section>

	<section class="four">
		<div>
			<p>Forming</p>
			<p class="num">36</p>
			<p>networks in total</p>
		</div>
	</section>

	<section class="five">
		<div>
			<p class="big">Explore the network of digital social innovation</p>
		</div>
	</section>


	<section class="skip">
		<div>
			<button id="skip">Skip</button>
		</div>
	</section>
	
	
</section>