<div class="modal-container org-panel-map-container">
	<section class="modal-nav-icons">
		<div process="img/ui/arrow-back.svg" class="back-icon inverted-color" process-keep></div>
		<div process="img/ui/icon-remove.svg" class="remove-icon inverted-color" process-keep></div>
	</section>
	<section class="org-title">
		<h2></h2>
		<a class="org-link"><div process="img/ui/icon-link.svg" class="link-icon secondary-color" process-keep></div></a>
	</section>
	<div class="org-type"></div>
	<section class="org-panel-scrolling">
		<p></p>
		<div class="radar-chart"></div>
	</section>
</div>