<div class="share-container">
	<div class="modal-header">
	    <div class="close-modal" process="img/ui/icon-remove.svg" process-keep></div>
	</div>
	<div class="share-title">
		<h2>Share</h2>
	</div>
	<div id="share-social">
		<div class="share-social-subtitle">Social buttons</div>
		<div class="share-social-text">You can share a custom view of the visualisation. All the configuration (zoom, pan, filters) will be retained.</div>
		<div class="share-social-buttons">
			<div class="share-icon" id="facebook-icon" process="img/ui/icon-facebook.svg" process-keep></div>
			<div class="share-icon" id="twitter-icon" process="img/ui/icon-twitter.svg" process-keep></div>
		</div>
	</div>
	<div id="share-embed">
		<div class="share-embed-subtitle">Embed link</div>
		<div class="share-embed-text">You can also embed this custom visualisation.<br>Copy the link below and paste it in your website.</div>
		<input type="text" id="share-input"/>
	</div>
	
	</div>
</div>