<div class="view ui" id="user-interface">
    <header>
        <div class="header-wrapper">
            <section class="nav">
                <div class="nav-bg">
                    <div class="nav-item">
                        <div process="img/ui/icon-circle.svg" class="nav-icon nav-inactive-bg" process-keep></div>
                    </div>
                    <div class="nav-item">
                        <div process="img/ui/icon-circle.svg" class="nav-icon nav-inactive-bg" process-keep></div>
                    </div>
                    <div class="nav-item">
                        <div process="img/ui/icon-circle.svg" class="nav-icon nav-inactive-bg" process-keep></div>
                    </div>
                </div>
                <section id="nav-current">
                    <div class="current-wrapper">
                        <div process="img/ui/icon-circle.svg" class="nav-icon current-bg" id="nav-current-bg" process-keep></div>
                    </div>
                </section>
                <div class="nav-icons">
                    <div id="nav-map" class="nav-item current">
                        <div process="img/ui/icon-map.svg" class="nav-icon" id="nav-map" process-keep></div>
                    </div>
                    <div id="nav-network" class="nav-item">
                        <div process="img/ui/icon-network.svg" class="nav-icon" id="nav-network" process-keep></div>
                    </div>
                    <div id="nav-cluster" class="nav-item">
                        <div process="img/ui/icon-cluster.svg" class="nav-icon" id="nav-cluster" process-keep></div>
                    </div>
                </div>
            </section>
            <section id="filter-tab" class="sub-nav">
                <p class="sub-nav-label">Filter</p>
            </section>
        </div>
    </header>
    <section class="content">
        <section process="views/_filters.html" id="filter-panel" class="modal-panel" process-keep></section>
        <section class="share"></section>
        <section process="views/_search.html" class="search-panel" process-keep></section>
        <section process="views/_share.html" class="share-panel" process-keep></section>
        <section process="views/_map-list.html" class="modal-panel map-list" process-keep></section>
        <section process="views/_map-panel.html" class="modal-panel map-panel" process-keep></section>
        <section process="views/_network-list.html" class="modal-panel network-list" process-keep></section>
        <section process="views/_network-panel.html" class="modal-panel network-panel" process-keep></section>
        <section process="views/_cluster-panel.html" class="modal-panel cluster-panel" process-keep></section>
        <section process="views/_info-map.html" class="info-panel map" process-keep></section>
        <section process="views/_info-network.html" class="info-panel network" process-keep></section>
        <section process="views/_info-cluster.html" class="info-panel cluster" process-keep></section>
        <footer>
            <section class="tools">
                <div process="img/ui/icon-share.svg" id="share-button" class="tools-icon" process-keep></div>
                <div process="img/ui/icon-search.svg" id="search-button" class="tools-icon" process-keep></div>
                <div process="img/ui/icon-info.svg" id="info-button" class="tools-icon" process-keep></div>
            </section>
        </footer>
    </section>
    <div id="filter-selection" class="overlay-modal">
        <div class="overlay-content">
            <div class="modal-header">
                <button id="clear-selection">Clear</button>
                <button id="confirm-selection">Confirm</button>
            </div>
            <div class="select-content">
                <ul id="filter-select-list">
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="icon-proto">
    <div process="img/ui/icon-check.svg" class="nav-icon" process-keep></div>
    <div process="img/ui/icon-remove.svg" class="nav-icon" process-keep></div>
    <div process="img/ui/arrow-down.svg" process-keep></div>
</div>
