<div class="infoContainer">
	<div process="../img/ui/icon-remove.svg" class="remove-icon inverted-color" process-keep></div>
	<div process="../img/ui/icon-info-inverted.svg" class="info-icon" process-keep></div>
	<div class="textbox">
		<h2>Cluster view</h2>
		<p>This view lets you separate filtered projects into different arrangements. You can also subdivide individual clusters into smaller units.</p>
	</div>
	<div class="legenda">
		<h2>Legend</h2>
		<ul>
			<li><div class="legend-dot focus-color-1"></div>Open knowledge</li>
			<li><div class="legend-dot focus-color-2"></div>Open hardware</li>
			<li><div class="legend-dot focus-color-3"></div>Open networks</li>
			<li><div class="legend-dot focus-color-4"></div>Open data</li>
		</ul>
	</div>
</div>