<div class="infoContainer">
	<div process="../img/ui/icon-remove.svg" class="remove-icon inverted-color" process-keep></div>
	<div process="../img/ui/icon-info-inverted.svg" class="info-icon" process-keep></div>
	<div class="textbox">
		<h2>Network view</h2>
		<p>This view shows you the organisations and projects in the system and the connections between them. Drag to navigate or search the network and tap to get more info.</p>
	</div>
	<div class="legenda">
		<h2>Legend</h2>
		<ul>
			<li><div class="legend-dot org-color"></div>Organisations</li>
			<li><div class="legend-dot prj-color"></div>Projects</li>
		</ul>
	</div>
</div>