<div class="modal-container org-panel-map-container">
	<div class="modal-nav-icons">
		<div process="../img/ui/arrow-back.svg" class="back-icon inverted-color" process-keep></div>
		<div process="../img/ui/icon-remove.svg" class="remove-icon inverted-color" process-keep></div>
	</div>
	<div class="org-title">
		<h2>Nesta</h2>
		<div process="../img/ui/icon-link.svg" class="link-icon secondary-color" process-keep></div>
	</div>
	<div class="org-type">Non profit</div>
	<p>Nesta is an innovation charity with a mission to help people and organisations bring great ideas to life.</p>
</div>