<div class="searchContainer">
	<div process="../img/ui/icon-search.svg" class="search-icon-header" process-keep></div>
	<!-- <div process="../img/ui/icon-remove.svg" class="remove-icon inverted-color" process-keep></div>
	<div process="../img/ui/icon-info-inverted.svg" class="info-icon" process-keep></div> -->
	<div class="search-title">
		<h2>Find a project or an organisation</h2>
	</div>
	<div class="search-results">
		<!-- <h2>Legend</h2>
		<ul>
			<li><div class="legend-dot focus-color-1"></div>Open knowledge</li>
			<li><div class="legend-dot focus-color-2"></div>Open hardware</li>
			<li><div class="legend-dot focus-color-3"></div>Open networks</li>
			<li><div class="legend-dot focus-color-4"></div>Open data</li>
		</ul> -->
	</div>
</div>