<div class="view ui">
	<header>
		<section class="nav">
			<div id="nav-prev">P</div>
			<div id="nav-current">C</div>
			<div id="nav-next">N</div>
		</section>
		<section class="sub-nav">
			<p class="sub-nav-label">Filter</p>
		</section>
	</header>

	<footer>
		<section class="tools">
			<div process="../img/ui/icon-share.svg" class="tools-icon" process-keep></div>
			<div process="../img/ui/icon-search.svg" class="tools-icon" process-keep></div>
			<div process="../img/ui/icon-info.svg" class="tools-icon" process-keep></div>
		</section>
	</footer>
</div>